<style>
    @page {
        size: A4 portrait;
        margin: 1cm;
    }
    table {
        page-break-inside: avoid;
    }
</style>
<h1 class="title is-4">Baustein "{{ baustein }}" für {{ schüler }}</h1>
<table class="table is-size-6 is-fullwidth">
    <thead>
        <th>Leistung</th>
        <th>Punkte</th>
        <th>Mögliche Punkte</th>
        <th>Prozentsatz</th>
        <th>Periode</th>
    </thead>
    {% for abschnitt in abschnitte %}
        {% if abschnitt.form.prozentsatz %}
            <tr style="margin-top: 4em;">
                <th>{{ abschnitt.title }}</th>
                <th>{{ abschnitt.form.gesamtpunkte.0 | floatformat }}</th>
                <th>{{ abschnitt.form.gesamtpunkte.1 | floatformat }}</th>
                <th>{{ abschnitt.form.prozentsatz | floatformat }}%</th>
                <th>&nbsp;</th>
            </tr>
            {% regroup abschnitt.form by field.leistung as leistung_groups %}
            {% for field_group in leistung_groups %}
            {% if field_group.list.0.value %}
                <tr>
                    <td>{{field_group.grouper}}</td>
                    <td style="width: 5em;">
                        {{ field_group.list.0.value | floatformat }}
                    </td>
                    <td>{{ field_group.list.0.field.max_value | floatformat }}</td>
                    <td>&nbsp;</td>
                    <td>{{ field_group.list.1.value }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <tr>
        <th>Bausteinarbeit</th>
        <th>{{ bausteinarbeit.gesamtpunkte.0 | floatformat }}</th>
        <th>{{ bausteinarbeit.gesamtpunkte.1 | floatformat }}</th>
        <th>
            {% if bausteinarbeit.prozentsatz %}
                {{ bausteinarbeit.prozentsatz | floatformat }}%
            {% else %}
                &nbsp;
            {% endif %}
        </th>
        <th>&nbsp;</th>
    </tr>
            {% regroup bausteinarbeit by field.arbeit as arbeit_groups %}
            {% for field_group in arbeit_groups %}
            {% if field_group.list.0.value %}
                <tr>
                    <td>{{field_group.grouper}}</td>
                    <td style="width: 5em;">
                        {{ field_group.list.0.value | floatformat }}
                    </td>
                    <td>{{ field_group.list.0.field.max_value | floatformat }}</td>
                    <td>&nbsp;</td>
                    <td>{{ field_group.list.1.value }}</td>
                </tr>
            {% endif %}
            {% endfor %}
    <tr>
        <th>Summe</th>
        <th>{{ summe.0 }}</th>
        <th>{{ summe.1 }}</th>
        <th>
            {% if summe.2 %}
            {{ summe.2 | floatformat }}%
            {% else %}
            &nbsp;
            {% endif %}
        </th>
    </tr>
</table>
<table class="table is-size-6 is-fullwidth">
    <tr>
        <th>
            Kommentar
        </th>
    </tr>
    <tr>
        <td>
            {{ kommentarform.kommentar.value }}
        </td>
    </tr>
</table>