{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}

<h1 class="title is-2">Baustein "{{ baustein }}" für {{ schüler }}</h1>
<form method="post" onsubmit="window.form_submitted=true;">
        {% csrf_token %}
        <table class="table is-size-6 is-fullwidth">
            <thead>
                <th>Leistung</th>
                <th>Punkte</th>
                <th>Mögliche Punkte</th>
                <th>Absolviert in Periode</th>
            </thead>
        {% for abschnitt in abschnitte %}
            <tr>
                <th colspan="4">{{ abschnitt.title }}</th>
            </tr>
            {% regroup abschnitt.form by field.leistung as leistung_groups %}
            {% for field_group in leistung_groups %}
                <tr>
                    <td>{{field_group.grouper}}</td>
                    <td class="is-paddingless" style="width: 5em;">
                        {{ field_group.list.0 }}
                    </td>
                    <td>{{ field_group.list.0.field.max_value }}</td>
                    <td>{{ field_group.list.1 }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
            <tr>
                <th>Bausteinarbeit</th>
                <th colspan="3">Zählt in diesem Baustein zur Kompetenz: "{{baustein.hauptkompetenz}}"</th>
            </tr>
            {% regroup bausteinarbeit by field.arbeit as arbeit_groups %}
            {% for field_group in arbeit_groups %}
                <tr>
                    <td>{{field_group.grouper}}</td>
                    <td class="is-paddingless" style="width: 5em;">
                        {{ field_group.list.0 }}
                    </td>
                    <td>{{ field_group.list.0.field.max_value }}</td>
                    <td>{{ field_group.list.1 }}</td>
                </tr>
            {% endfor %}
        </table>

        {{ kommentarform | bulma }}
    <input type="submit" class="button is-primary" name="save" value="Speichern und Zurück zur Klasse" />
    <input type="submit" class="button is-primary" name="print" value="Speichern und PDF herunterladen" />
    <input type="submit" class="button is-primary" name="show" value="Speichern und PDF anzeigen" />
</form>

<script type="text/javascript">
    window.form_submitted = false;
    window.input_changed = false;
    window.onbeforeunload = function (e) {
        if (window.input_changed === true && window.form_submitted === false) {
            return "Seite wirklich verlassen? Daten werden nicht gespeichert!";
        }
    };

    inputs = document.querySelectorAll('input,textarea,select');
    for (index = 0; index < inputs.length; ++index) {
        inputs[index].addEventListener("change", function() {
            window.input_changed = true;
        })
    }

    forms = document.getElementsByTagName('form');
    for (index = 0; index < forms.length; ++index) {
        forms[index].addEventListener("submit", function() {
            window.form_submitted = true;
        })
    }
</script>

{% endblock content %}