{% extends 'base.html' %}

{% block content %}
<h1 class="title is-2">Test "{{test}}" löschen? </h1>

Beim Klick auf "OK" wird der Test und ggf. alle bereits vergebenen Punkte gelöscht.
Wirklich fortfahren?

<form method="post">
    {% csrf_token %}
    <input type="submit" class="button is-danger" value="Ok">
</form>

{% endblock content %}