{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Hallo {{ user.first_name }} {{ user.last_name }},</h1>
<h2 class="subtitle is-3">
    bitte eine Klasse auswählen
</h2>
{% regroup klassen by jahrgang as jahrgänge %}
{% for jahrgang in jahrgänge %}
<div class="columns is-multiline">
    {% for klasse in jahrgang.list %}
    <div class="column is-one-quarter">
        <a class="box" href="{% url 'klasse' klasse.id %}">
            <h2 class="subtitle">Klasse {{klasse}} </h2>
            <strong>{{klasse.schülerzahl}}</strong> Schüler
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}