{% extends 'base.html' %}

{% block content %}



<h1 class="title is-2">Klasse {{klasse}}</h1>

<h2 class="box subtitle is-3">
<p class="is-size-4">
<a href="{% url 'klasse_bearbeiten' klasse.pk %}">Lehrerrollen bearbeiten</a>
| <a href="{% url 'zeugnisse' klasse.id %}">Zeugnisse ausfüllen</a>
| Export: <a href="{% url 'zeugnisse_export' klasse.id %}">Noten</a>,
Kommentare
(<a href="{% url 'kommentare_export' klasse.id 1 %}">P1</a>, 
<a href="{% url 'kommentare_export' klasse.id 2 %}">P2</a>)
</p>
</h2>

<h2 class="subtitle is-3">Tests</h2>
<div class="columns is-multiline">
    {% for fach in testfächer %}
    <div class="column is-one-quarter">
        <a class="box" href="{% url 'tests' klasse.id fach.id %}">
            <h2 class="subtitle">{{fach}} </h2>
            Tests vorhanden: <strong>{{fach.num_tests}}</strong>.
        </a>
    </div>
    {% endfor %}
</div>

{% if klasse.jahrgang > 4 %}
<h2 class="subtitle is-3">Bausteine</h2>
<div class="table-container">
    <table class="table is-bordered is-striped is-hoverable is-narrow is-fullwidth">
        {% for schüler, bausteine in schüler.items %}
        {% if forloop.first %}
        <thead>
            <th>Baustein</th>
            {% for baustein in bausteine %}
            <td style="background-color:{{baustein.farbe.farbe}}">
                {{ baustein.kürzel }}
            </td>
            {% endfor %}
        </thead>
        {% endif %}
        <tr>
            <th>
                {{ schüler }}
            </th>
            {% for baustein, info in bausteine.items %}
            <td class="has-background-{{ info.farbe }}">
                <a href="{% url 'baustein' baustein.id schüler.id %}" class="icon">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<h3 class="subtitle is-5">Legende</h3>
<div class="box has-background-light">
    <div>
        <span class="tag is-white">Weiss</span> - Noch nichts eingetragen.
    </div>
    <div>
        <span class="tag is-warning">Gelb</span> - Teilweise eingetragen.
    </div>
    <div>
        <span class="tag is-success">Grün</span> - Kommentar + alle Bausteinarbeiten eingetragen.
    </div>
</div>
{% endif %}
<h2 class="subtitle is-3">Übersichten pro Kompetenz</h2>
{% regroup kompetenzen by fach as kompetenz_list %}
{% for fach in kompetenz_list %}
<h3 class="subtitle is-5">
    {{ fach.grouper }}
</h3>
<div class="columns">
    {% for kompetenz in fach.list %}
    <div class="column">
        <div class="box">
            <h4 class="title is-5">
                {{kompetenz.beschreibung}}
            </h4>
            <a href="{% url 'kompetenz_s' klasse.id kompetenz.id %}">Nach Schüler</a>
            |
            <a href="{% url 'kompetenz_l' klasse.id kompetenz.id %}">Nach Leistung</a>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}
