{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}

<h1 class="title is-2">Klasse {{ form.instance }} bearbeiten</h1>
<form method="post">
    {% csrf_token %}
    {{ form | bulma }}
    <input type="submit" class="button is-success" value="Speichern">
</form>
{% endblock content %}