{% extends 'base.html' %}

{% block content %}
<h1 class="title is-2">Alle Bewertungen in {{kompetenz}} für Klasse {{klasse}}</h1>

{% for periode, schülers in perioden.items %}
    <h2 class="subtitle is-3">Periode {{periode}}</h2>
    <table class="table is-striped is-fullwidth">
        <thead>
            <th>Schüler</th>
            <th>Leistung</th>
            <th>Punkte</th>
            <th>Prozentsatz</th>
        </thead>
        {% for schüler in schülers %}
            {% for bewertung in schüler.bewertungen %}
            {% if forloop.first %}
                <thead>
                    <th>{{schüler}}</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>{{ schüler.prozentsatz | floatformat }}%</th>
                </thead>
            {% endif %}
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ bewertung.leistung.block }}</td>
                    <td>{{ bewertung.punkte | floatformat }} / {{ bewertung.leistung.max_punkte | floatformat }} </td>
                    <td>{{ bewertung.prozentsatz | floatformat }}% </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endfor %}


{% endblock content %}