{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}
<h1 class="title is-2">Neuer Test für Klasse {{klasse}} in {{fach}}</h1>
<form method="post">
    {% csrf_token %}

    {% if testform.non_field_errors %}
    <div class="message is-danger">
        <div class="message-body">
            {% for non_field_error in testform.non_field_errors %}
            {{ non_field_error }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% for field in testform.hidden_fields %}
    {{ field }}
    {% endfor %}

    {% for field in testform.visible_fields %}
    {% include 'bulma/forms/field.html' %}
    {% endfor %}

    <input type="submit" class="button is-success" value="Speichern">
</form>
{% endblock content %}