{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Test "{{test}}" für Klasse {{ test.klasse }}</h1>
<form method="post">
    {% csrf_token %}
    <table class="table is-bordered is-fullwidth">
        <thead>
            <th>
                Leistung
            </th>
            {% for leistung in leistungen %}
            <th>{{leistung}}</th>
            {% endfor %}
            <th style="width: 50%;">
                Kommentar (optional)
            </th>
        </thead>
        <thead>
            <th>
                Höchstpunktzahl
            </th>
            {% for leistung in leistungen %}
            <th> {{leistung.max_punkte}}</th>
            {% endfor %}
            <th></th>
        </thead>
        {% for schüler, liste, kommentar in table %}
        <tr>
            <td>
                {{ schüler }}
            </td>
            {% for leistung, form in liste %}
            <td>{{ form.punkte }}</td>
            {% endfor %}
            <td>
                {{ kommentar.kommentar }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" class="button is-success" value="Speichern">
</form>

<script type="text/javascript">
    window.form_submitted = false;
    window.input_changed = false;
    window.onbeforeunload = function (e) {
        if (window.input_changed === true && window.form_submitted === false) {
            return "Seite wirklich verlassen? Daten werden nicht gespeichert!";
        }
    };

    inputs = document.querySelectorAll('input,textarea,select');
    for (index = 0; index < inputs.length; ++index) {
        inputs[index].addEventListener("change", function() {
            window.input_changed = true;
        })
    }

    forms = document.getElementsByTagName('form');
    for (index = 0; index < forms.length; ++index) {
        forms[index].addEventListener("submit", function() {
            window.form_submitted = true;
        })
    }
</script>

{% endblock content %}