{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Tests für Klasse {{ klasse }} in {{ fach }}</h1>

{% if abschlusskompetenzen %}
<h2 class="subtitle is-4">Abschlusstests</h2>
<div class="columns is-multiline">
    {% for kompetenz in abschlusskompetenzen %}
    <div class="column is-one-fifth">
        <nav class="panel">
            <p class="panel-heading">
                {{kompetenz}}
            </p>
            {% for test in kompetenz.tests %}
            <div class="panel-block" style="justify-content: space-between;">
                <a href="{% url 'abschlusstest' klasse.id test.id  %}">
                    <span class="icon">
                        <i class="fa fa-edit"></i>
                    </span>
                    {{ test }}
                </a>
            </div>
            {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% for periode, tests in perioden.items %}
<h2 class="subtitle is-4">Periode {{periode}}</h2>
<div class="columns is-multiline">
    {% for test in tests %}
    <div class="column is-one-quarter">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ test }}
                </p>
                <a href="{% url 'test' test.id %}" class="card-header-icon">
                    <span class="icon">
                        <i class="fa fa-edit"></i>
                    </span>
                </a>
                <a href="{% url 'delete_test' test.id %}" class="card-header-icon">
                    <span class="icon">
                        <i class="fa fa-trash has-text-danger"></i>
                    </span>
                </a>
            </header>
            <a href="{% url 'test' test.id %}">
                <div class="card-content">
                    <div class="content">
                        <progress class="progress is-success" value="{{test.progress | floatformat:"0" }}" max="100"></progress>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="column is-one-quarter">
        <a href="{% url 'neuertest' klasse.id fach.id periode %}">
        <div class="card">
            <div class="card-content">
                <span class="icon has-text-success">
                    <i class="fa fa-plus"></i>
                </span>
                Hinzufügen
            </div>
        </div>
        </a>
    </div>
</div>
{% endfor %}


{% endblock content %}