{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Zeugnisse für Klasse {{ klasse }}</h1>

<table class="table is-fullwidth">
    <thead>
        <th>Schüler</th>
        <th>1. Periode</th>
        <th>2. Periode</th>
    </thead>
    <thead>
        <th>
            Alle
        </th>
        <th><a class="button is-primary" href="{% url 'zeugnisse_print' klasse.id 1 %}">
            PDF herunter laden
        </a>
        <br>
        (dauert etwa eine Minute)
        <br>
        <a class="button is-primary" href="{% url 'zeugnisse_show' klasse.id 1 %}">
            PDF anzeigen
        </a>
        </th>
        <th><a class="button is-primary" href="{% url 'zeugnisse_print' klasse.id 2 %}">
            PDF herunter laden
        </a>
        <br>
        (dauert etwa eine Minute)
        <br>
        <a class="button is-primary" href="{% url 'zeugnisse_show' klasse.id 2 %}">
            PDF anzeigen
        </a>
        </th>
    </thead>
    {% for schüler, liste in table.items %}
    <tr>
        <th>{{schüler}}</th>
        {% for status in liste %}
        <td><a href="{% url 'zeugnis' schüler.id forloop.counter %}">{{status}}</a> </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>



{% endblock content %}