{% load static %}

<style>
    @page {
        size: A4 portrait;
        margin: 1cm;
        margin-bottom: 1.5cm;
        @bottom-left-corner {
            content: url({% static 'logo_pdg_2.png' %});
            transform: scale(.1);
        }
        @bottom-center {
            content: "{{schüler}} — Klasse {{schüler.klasse}} — Schuljahr 2024-2025 — {{zeugnis.periode}}. Periode";
            font-size: 12px;
        }
        @bottom-right {
            content:  counter(page) "/" counter(pages);
            font-size: 12px;
        }
    }

    table {
        page-break-inside: avoid;
    }

    section {
        padding: 0.4rem;
        page-break-inside: avoid;
    }
    h3 {
        margin-bottom: 0.15cm;
    }
</style>

<section class="section">
    <h1 class="title is-2 has-text-centered">Zeugnis</h1>
    <p>Name:  {{ schüler }}</p>
    <p>Klasse:  {{ schüler.klasse }} — Schuljahr 2024-2025 - {{zeugnis.periode}}. Periode</p>
    <p>KlassenleiterInnen:  {{ schüler.klasse.klassenleiterinnen }}</p>
</section>

{% for bloc in notenblöcke %}
<section class="section">
    <h3 class="title is-4">
        {{bloc.fach}}
        {% if bloc.fachlehrer %}
            <p class="has-text-weight-normal is-size-7" style="margin-right: 1cm;">
                LehrerInnen: {% for fach, lehrer in bloc.fachlehrer %}
                    {{ lehrer }} ({{fach}}){% if forloop.last %}{% else %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </h3>
    {% comment %}
    {% if bloc.fixtext %}
        <div class="is-size-7">{{ bloc.fixtext | linebreaks}}</div>
        <br>
    {% endif %}
    {% endcomment %}
    <table class="table is-bordered is-fullwidth is-narrow is-size-7">
        {% if bloc.advanced %}
        <thead>
            {% if bloc.prüfungen %}
            <th style="width: 18%;">Kompetenz</th>
            <th style="width: 10%;">2. Periode</th>
            <th style="width: 10%;">Prüfungen</th>
            <th style="width: 10%;">Punkte gesamt</th>
            <th style="width: 10%;">Prozentsatz gesamt</th>
            <th style="width: 42%;">Kommentar</th>
            {% else %}
            <th style="width: 18%;">Kompetenz</th>
            <th style="width: 10%;">Punkte</th>
            <th style="width: 10%;">Prozentsatz</th>
            <th style="width: 62%;">Kommentar</th>
            {% endif %}
        </thead>
        {% for element in bloc.elemente %}
        <tr>
            <td>{{element.kompetenz}}</td>
            {% if bloc.prüfungen %}
                <td>
                    {% if element.aktuell.pre_prozent %}
                    {{ element.aktuell.pre_prozent | floatformat }} %
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
                <td> 
                    {% if element.aktuell.prüfung_prozent %}
                    {{ element.aktuell.prüfung_prozent | floatformat }} %
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
            {% endif %}
            {% if element.aktuell.punkte == None %}
            <td>&mdash; / {{element.max_punkte | floatformat }}</td>
            <td>&nbsp;</td>
            {% else %}
            <td>{{element.aktuell.punkte | floatformat }} / {{element.max_punkte | floatformat }}</td>
            <td>{{element.aktuell.prozentsatz | floatformat }} %</td>
            {% endif %}
            {% if forloop.first %}
            <td rowspan="100">
                {{ bloc.kommentar | linebreaks }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th style="vertical-align:bottom">
                Gesamt
            </th>
            {% if bloc.prüfungen %}
                <td colspan="2"></td>
            {% endif %}
            <th style="vertical-align:bottom">
                {{ bloc.gesamt.aktuell.punkte | floatformat }} / {{ bloc.gesamt.aktuell.max_punkte | floatformat }}
            </th>
            <th style="vertical-align:bottom">
                {{ bloc.gesamt.aktuell.prozentsatz | floatformat }} %
            </th>
        </tr>
        {% else %}
        <thead>
            <th style="width: 20%;">Note</th>
            <th style="width: 80%;">Kommentar</th>
        </thead>
        <tr>
            <th>{{ bloc.aktuell }}</th>
            <td>{{ bloc.kommentar | linebreaks }}</td>
        </tr>
        {% endif %}
    </table>
</section>
{% endfor %}

<section class="section">
    <h3 class="title is-4">Sozialkompetenzen</h3>
    {% for titel, kompetenzen in sozialabschnitte %}
    <table class="table is-bordered is-striped is-narrow is-fullwidth is-size-7">
        <thead>
            <th>{{titel}}</th>
            {% for zeichen in zeichens %}
            <th style="width: 5.5%;">{{zeichen.1}}</th>
            {% endfor %}
        </thead>
        {% for kompetenz, note in kompetenzen %}
            <tr>
                <td>{{kompetenz}}</td>
                {% for zeichen in zeichens %}
                <td>
                    {% if note == zeichen.0 %}
                    &#10008;
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if forloop.last %}
        <tr>
            <th colspan=5>Kommentar</th>
        </tr>
        <tr>
            <td colspan=5> {{ zeugnis.sozialverhalten_kommentar | linebreaks }} </td>
        </tr>
        {% endif %}
    </table>
    {% endfor %}
</section>

<section class="section">
    <h3 class="title is-4">Übersicht</h3>
    <table class="table is-fullwidth is-bordered is-narrow is-size-7">
        <thead>
            <th style="width: 40%;">Fach</th>
            <th style="width: 20%;">1. Periode</th>
            <th style="width: 20%;">2. Periode</th>
            <th style="width: 20%;">Durchschnitt</th>
        </thead>
        {% for bloc in notenblöcke %}
            {% if bloc.advanced %}
            <tr>
                <th>{{ bloc.fach }}</th>
                {% for v in bloc.verlauf.values %}
                    <th>
                        {% if v.prozentsatz == None %}
                            &nbsp;
                        {% else %}
                            {{ v.prozentsatz | floatformat }} %
                        {% endif %}
                    </th>
                {% endfor %}
                <th>{{ bloc.gesamt.durchschnitt | floatformat }} %</th>
            </tr>
            {% for element in bloc.elemente %}
            <tr>
                <td>- {{element.kompetenz}}</td>
                {% for v in element.verlauf.values %}
                <td> 
                    {% if v.punkte == None %}
                        &nbsp;
                    {% else %}
                        {{v.punkte | floatformat }} / {{element.max_punkte | floatformat }}</td>
                    {% endif %}
                {% endfor %}
                
                <td>
                    {% if element.durchschnitt == None %}
                        &nbsp;
                    {% else %}
                        {{element.durchschnitt | floatformat }} / {{element.max_punkte | floatformat }}</td>
                    {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
        
    <table class="table is-fullwidth is-bordered is-narrow is-size-7" style="width: 80%">
        {% for bloc in notenblöcke %}
            {% if bloc.advanced %}
            {% else %}
            <tr>
                <th style="width: 50%;">{{ bloc.fach }}</th>
                {% for note in bloc.verlauf.values %}
                <td style="width: 25%;">{{ note }}</td>
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</section>

<section class="section">
    <h3 class="title is-4">Versetzungsbedingungen</h3>
    <p>
        {{ versetzungsbedingungen }}
    </p>
</section>

<section class="section">
    <h3 class="title is-4">Versetzungsentscheidung</h3>
    <p>
        {{ zeugnis.versetzungsentscheidung }}
    </p>
</section>

<section class="section">
    <h3 class="title is-6">Abwesenheiten (in halben Schultagen)</h3>
    <table class="table is-bordered is-fullwidth is-size-7">
        <thead>
            <td style="width: 33.3%;">
                mit einer <b>schriftlichen Entschuldigung</b></td>
            <td style="width: 33.3%;">
                <b>ohne</b> schriftliche Entschuldigung
            </td>
            <td style="width: 33.3%;">
                mit einem <b>ärztlichen Attest</b>
            </td>
        </thead>
        <tr>
            <td>
                {{ zeugnis.abwesenheiten_mit_entschuldigung }}
            </td>
            <td>
                {{ zeugnis.abwesenheiten_ohne }}
            </td>
            <td>
                {{ zeugnis.abwesenheiten_mit_attest }}
            </td>
        </tr>
    </table>

    <h3 class="title is-6">Unterschriften</h2>
    <table class="table is-fullwidth is-size-7">
        <thead>
            <td>
                <br>
            <td>
            </td>
                <br>
            </td>
            <td>
                <br>
            </td>
        </thead>
        <tr>
            <td>
                KlassenleiterInnen
            <td>
                Erziehungsberechtigte
            </td>
            <td>
                Schulleiterin
            </td>
        </tr>
    </table>
</section>
