{% extends 'base.html' %}

{% load bulma_tags %}

{% block content %}
<script type="text/javascript">
    window.form_submitted = false;
    window.onbeforeunload = function (e) {
        if (window.form_submitted === false) {
            return "Seite wirklich verlassen? Daten werden nicht gespeichert!";
        }
    };
</script>

<h1 class="subtitle is-2">Vorbereitungsdokument zu den Klassenräten </h1>
<h1 class="title is-1">Zeugnis</h1>

<form method="post" onsubmit="window.form_submitted=true;">
    {% csrf_token %}

    <section class="section">
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">Name des Schülers</label></div>
            <div class="field-body">{{ schüler }}</div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">Zeugnisstatus</label></div>
            <div class="field-body">{{ main_form.status }}</div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">ReligionslehrerIn</label></div>
            <div class="field-body">{{ main_form.katholische_religion }}</div>
        </div>
    </section>

    <input type="submit" class="button is-primary" name="save" value="Speichern und zurück zu den Zeugnissen" />
    <input type="submit" class="button is-primary" name="print" value="Speichern und PDF herunterladen" />
    <input type="submit" class="button is-primary" name="show" value="Speichern und PDF anzeigen" />

    {% for abschnitt, abschnitt_form in abschnitt_forms.items %}
    <section class="section">
        <h2 class="subtitle is-4">{{abschnitt.fach.name}}</h2>
        <p>{{abschnitt.fixtext | linebreaks }}</p>
        {% for field in abschnitt_form %}
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">{{field.label}}</label></div>
            <div class="field-body">
                {% if field.field.max_value %}
                <div class="field is-size-5">
                    Berechnet:
                    {% if field.field.label_suffix != None %}
                        {{ field.field.label_suffix | floatformat }}
                    {% else %} 
                        k.A.
                    {% endif %}
                    / {{field.field.max_value}}
                </div>
                <div class="field-label">Note überschreiben:</div>
                <div class="field"> {{ field }}
                </div>
                {% else %}
                <div class="field">
                    {{ field }}
                </div>
                {%endif%}
            </div>
        </div>
        {% endfor %}

        {% for test in abschnitt.fach.tests %}
            {% if forloop.first %}
            <div class="tb">
                <input type="checkbox" id="toggle_{{abschnitt.id}}"/>
                <label for="toggle_{{abschnitt.id}}">
                    <a class="button is-info">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                        <span>
                            Test-Kommentare anzeigen
                        </span>
                    </a>
                    <a class="button is-info">
                        <span class="icon">
                            <i class="fas fa-angle-up" aria-hidden="true"></i>
                        </span>
                        <span>
                            Test-Kommentare ausblenden
                        </span>
                    </a>
                </label>
                <table class="collapsible table is-bordered is-fullwidth">
                    <thead>
                        <th>Test</th>
                        <th>Kommentar</th>
                        <th>Punkte</th>
                    </thead>
            {% endif %}
                    <tr>
                        <th>{{ test }}</th>
                        {% for k in test.kommentare %}
                        <td>{{ k.kommentar | linebreaks }}</td>
                        <td>
                        {% for l in test.leistungen %}
                            {{ l }}: {{l.leistungsbewertungen.0.punkte}} / {{ l.max_punkte }}
                        {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
            {% if forloop.last %}
                </table>
            </div>
            {% endif %}
        {% endfor %}
    </section> 

    <input type="submit" class="button is-primary" name="save" value="Speichern und zurück zu den Zeugnissen" />
    <input type="submit" class="button is-primary" name="print" value="Speichern und PDF herunterladen" />
    <input type="submit" class="button is-primary" name="show" value="Speichern und PDF anzeigen" />
    
    {% endfor %}

    <section class="section">
        <h2 class="subtitle is-4">Sozialkompetenzen</h2>

        <table class="table is-bordered is-striped">
        {% for title, sozial_form in sozial_forms %}
            {% for field in sozial_form %}
            {% if forloop.first %}
            <thead>
                <th>{{title}}</th>
                {% for radio in field %}
                    <th>
                        {{radio.choice_label}}
                    </th>
                    
                {% endfor %}
            </thead>
            {% endif %}
            <tr>
                <td>{{field.label}}</td>
                {% for radio in field %}
                <td>{{radio.tag}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
        <div class="field">
            <label class="label">Kommentar</label>
            <div class="control">
                {{ main_form.sozialverhalten_kommentar }}
            </div>
        </div>
    </section>


    <input type="submit" class="button is-primary" name="save" value="Speichern und zurück zu den Zeugnissen" />
    <input type="submit" class="button is-primary" name="print" value="Speichern und PDF herunterladen" />
    <input type="submit" class="button is-primary" name="show" value="Speichern und PDF anzeigen" />

    <section class="section">
        <h2 class="subtitle is-4">Versetzungsentscheidung</h2>
        <div class="field is-horizontal">
            <div class="field-body">{{ main_form.versetzungsentscheidung }}</div>
        </div>
    </section>

    <section class="section">
        <h2 class="subtitle is-4">Abwesenheiten (in halben Schultagen)</h2>
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">mit einer <b>schriftlichen Entschuldigung</b>
                der Erziehungsberechtigten</label></div>
            <div class="field-body">{{ main_form.abwesenheiten_mit_entschuldigung }}</div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"><label class="label"><b>ohne schriftliche Entschuldigung</b></label></div>
            <div class="field-body"> {{ main_form.abwesenheiten_ohne }}</div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"><label class="label">mit einem <b>ärztlichen Attest</b></label></div>
            <div class="field-body">{{ main_form.abwesenheiten_mit_attest }}</div>
        </div>
    </section>


    <section class="section">
        <h2 class="subtitle is-4">Förderziele (Erscheinen nicht im Zeugnis)</h2>
        <div class="field is-horizontal">
            <div class="field-body">{{ main_form.förderziele }}</div>
        </div>
    </section>
    </table>

    <input type="submit" class="button is-primary" name="save" value="Speichern und zurück zu den Zeugnissen" />
    <input type="submit" class="button is-primary" name="print" value="Speichern und PDF herunterladen" />
    <input type="submit" class="button is-primary" name="show" value="Speichern und PDF anzeigen" />
</form>

<style>
    .tb input {
        display:none;
    }
    .tb label a+a, .collapsible {
        display:none;
    }
    .tb input:checked ~ label a {
        display:none;
    }
    .tb input:checked ~ label a+a {
        display:inline-flex;
    }
    .tb input:checked ~ .collapsible {
        display:table;
    }
</style>


<script type="text/javascript">
    window.form_submitted = false;
    window.input_changed = false;
    window.onbeforeunload = function (e) {
        if (window.input_changed === true && window.form_submitted === false) {
            return "Seite wirklich verlassen? Daten werden nicht gespeichert!";
        }
    };

    inputs = document.querySelectorAll('input,textarea,select');
    for (index = 0; index < inputs.length; ++index) {
        inputs[index].addEventListener("change", function() {
            window.input_changed = true;
        })
    }

    forms = document.getElementsByTagName('form');
    for (index = 0; index < forms.length; ++index) {
        forms[index].addEventListener("submit", function() {
            window.form_submitted = true;
        })
    }
</script>

{% endblock content %}