{% extends 'bulma/base.html' %}
{% load static %}

{% block title %}
{% for crumb in breadcrumbs %}
{{crumb.0}}: 
{% endfor %}
{{title|default:"PDG"}}
{% endblock %}

{% block extra_css %}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="icon" type="image/png" href="{%  static 'favicon.png' %}">
{% endblock %}

{% block header %}
<div class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'logo_banner.png' %}" alt="Pater Damian Grundschule Eupen">
            </a>
            <a role="button" class="navbar-burger is-hidden-desktop">
                {% if user.is_authenticated %}
                <a class="navbar-item is-hidden-desktop">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="button is-info">
                            Abmelden
                        </button>
                    </form>
                </a>
                {% endif %}
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <nav class="navbar-item breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'index' %}">Index</a></li>
                        {% for crumb in breadcrumbs %}
                            <li><a href="{{crumb.1}}">{{crumb.0}}</a></li>
                        {% endfor %}
                        <li class="is-active"><a href="#" aria-current="page">{{title}}</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item is-desktop">
                    Angemeldet als {{ user.username }}.
                </div>
                <a class="navbar-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="button is-info">
                            Abmelden
                        </button>
                    </form>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
{% endblock header %}
{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Zum Admin-Panel</a>
            {% endif %}
        </div>
    </div>
</footer>
{% endblock footer %}